
body {
    background-color: #C1D0D7;
    color: #084C61;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; font-size: 50px; font-style: normal; font-variant: small-caps; font-weight: 700; line-height: 20px;
}

/* random colors 
    #E3B505 
    #DB504A
    #084C61
    #56A3A6
    */